 <div class="container main">
<section id="profil">
  <div class="border shadow p-5 my-5">
  <div class="row">
    <div class=" col-12 col-md-10">
      <h1 class="text-primary">My profile</h1>
    </div>
    <div class=" col-12 col-md-2"><a href="/profil/edit/{{user._id}}" class="btn btn-secondary btn-block rounded-pill">Edit </a></div>
  </div>
  <div class="mt-5 mb-5"><img class="img-fluid rounded" src="{{user.profilePic}}" alt="profile-pic" width="400" alt="profile-pic"></div>
  <div class="row mt-3">
    <div class="col-12 col-md-3 text-primary">Firstname:</div>
    <div class="col-12 col-md-3"> {{user.firstName}}</div>
    <div class="col-12 col-md-3 text-primary">Lastname:</div>
    <div class="col-12 col-md-3">{{user.lastName}}</div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-md-3 text-primary">Birthday:</div>
    <div class="col-12 col-md-3">{{formatBirthDate user.dateOfBirth}}</div>
    <div class="col-12 col-md-3 text-primary">Nationality:</div>
    <div class="col-12 col-md-3">{{user.nationality}}</div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-md-3 text-primary">E-Mail:</div>
    <div class="col-12 col-md-3">{{user.email}}</div>
  </div>
    <div class="row mt-3">
    <div class="col-12 col-md-3 text-primary">Biography:</div>
    <div class="col-12 col-md-9 text-justify">{{user.bio}}</div> 
  </div>
</div>
</section>


<section id="language">
  <div class="border shadow p-2 p-md-5 mt-5 mb-5">
  <div class="row">
    <h1 class="col-12 text-primary">My Languages</h1>
  </div>
  <div class="row">
    <h4 class="mt-3 mb-3 col-12 text-secondary" id="language">Add A Language</h4>
  </div>
  <form action="/language/add#language" method="POST">
    <div class="row mt-2">
      <div class="form-group col-12 col-md-4">
        <select class="form-control" name="language">
          <option>English</option>
          <option>German</option>
          <option>French</option>
          <option>Italian</option>
          <option>Spanish</option>
          <option>Portuguese</option>
        </select>
      </div>
      <div class="form-group col-12 col-md-4">
        <select class="form-control" name="level">
          <option value="1">Beginner</option>
          <option value="2">Intermediate</option>
          <option value="3">Advanced</option>
        </select>
      </div>
      <div class="col-12 col-md-4"><button type="submit" class="btn btn-secondary btn-block rounded-pill">Add Language</button></div>
    </div>
  </form>
  <div class="table-responsive">
  <table class=" mt-4 table">
    <thead>
      <tr>
        <th scope="col">Language</th>
        <th scope="col">Level</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      {{#each languages}}
      <tr>
        <th scope="row">{{this.language}}</th>
        <td>{{formatLevel this.level}}</td>
        <td><a
            class="ml-5 mr-5 text-decoration-none" href="/language/delete/{{this._id}}"><span class="fas fa-trash-alt text-secondary"></span></a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
  {{#if createErr }}
  <div class="alert alert-danger mt-5 text-center" role="alert">Please delete this language before creating it again!</div>
  {{/if}}
  </div>
</section>
</div>