 <div class="container main">
<section id="search">
<div class="border p-5 mt-5 mb-5 text-center">
  <h1 class="text-primary mb-4">I want to practise my </h1>

  <form action="/tandem/find-lang" method="get">
    <div class="row mt-2">
      <div class="form-group col-12 col-md-4">
        <select class="form-control" name="language" id="language">
          {{#each languages}}
          <option value="{{this.language}}">{{this.language}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group col-12 col-md-4">
        <h1 class="text-primary mb-4 text-center">I can offer </h1>
        <select class="form-control" name="langOffer" id="langOffer">
          {{#each languages}}
          <option value="{{this.language}}">{{this.language}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-12 col-md-4"><button type="submit" class="btn btn-secondary btn-block">Search</button></div>

    </div>
  </form>
</div>
</section>



<section id="results">
    {{#if userFinal}}
<h1>Your Search for {{languageWanted}}</h1>
  {{#each userFinal}}
  <p>{{this.firstName}}, {{this.lastName}}, <a href="/tandem/create/{{this._id}}">Propose a Tandem</a></p>
 {{/each}} 
     {{/if}}
</section>
</div>