<h1>I want to practise my </h1>
{{!-- <form action="/tandem/find" method="post">

<select name="languages" id="languages">
{{#each languages}}
  <option value="{{this.language}}">{{this.language}}</option>

{{/each}}
</select>
<button type="submit" class="btn btn-secondary">Find a tandem</button>
</form> --}}

<form action="/tandem/find-lang" method="get">
  <div class="row mt-2">
    <div class="form-group col-12 col-md-4">
      <select class="form-control" name="language" id="language">
        {{#each languages}}
        <option value="{{this.language}}">{{this.language}}</option>
        {{/each}}
      </select>
    </div>
    
    <div class="col-12 col-md-4"><button type="submit" class="btn btn-secondary btn-block">Search</button></div>
        
  </div>
</form>
{{!-- {{this.level}} --}}